/* Extra small devices (phones, 600px and down) */
/* Small devices (portrait tablets and large phones, 600px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */

@media screen and (min-width:1200px) and (min-height:570px){
    #projects-aside-large{
        display: block;
    }

    #projects-aside-small{
        display: none;
    }

    #project-titles h2{
        font-size: 1.4em;
        width: 300px;
    }
}

@media screen and (max-width:992px){
    header ul li{
        font-size: 1em;
    }
    
    header ul li:hover{
        background-color: transparent;
        transition: none;
    }

    header ul li:hover::after{
        display: none;
    }

    #buttons-div{
        display: block;
    }

    #buttons-div ul{
        width: 75%;
        margin: auto;
    }

    #navegation-bar{
        display: none;
    }

    #grid-container{
        grid-template:  'header' 55px 
                        'main' calc(100% - 145px)
                        'footer' 90px /
                        100%;
    }

    #first-section{
        margin-top: 50px;
    }

    main section{
        width: 85%;
    }

    main section p{
        font-size: 0.9em;
    }

    footer{
        padding: 0 10px;
    }

    footer ul li{
        margin: 9px 0;
        font-size: 0.8em;
    }
    
    footer p{
        font-size: 0.8em;
    }

    aside h2{
        font-size: 1.2em;
    }

    form{
        grid-template:  'row-01' 40%
                        'row-02' 40%
                        'buttons' 20% /
                        100%
    }

    form #col-01{
        grid-area: row-01;
        width: 80%;
        margin: auto;
        margin-top: 20px;
    }

    form #col-01 input{
        font-size: 0.9em;
    }

    form #col-01 span{
        margin-bottom: 10px;
    }

    form #col-02{
        grid-area: row-02;
    }

    form #col-02 textarea{
        width: 80%;
        font-size: 0.8em;
    }

    form #col-02 label{
        width: 80%;
    }

    #div-form{
        width: 100%;
        margin: auto;
        padding: 0;
    }

    #form-buttons input{
        padding: 10px 15px;
    }

    #last-section h1{
        margin-bottom: 40px;
    }

    #last-section{
        margin-bottom: 0;
        width: 75%;
    }

    #up-icon{
        display: none;
    }
}

@media screen and (max-width:600px){

    header ul li{
        padding: 0 5px;
        font-size: 0.8em;
    }

    main section h1, main aside h1{
        font-size: 1.5em;
    }

    .iframes-box{
        height: 400px;
    }

    #projects-area{
        flex-flow: column nowrap;
        align-items: center;
    }

    #box-01, #box-02, #box-03{
        margin-bottom: 50px;
        width: 210px;
        height: 419px;
    }

    #projects-aside-small h1{
        margin-bottom: 50px;
    }

    #project-titles{
        display: none;
    }

    .titles{
        display: block;
        padding: 20px;
    }

    #buttons-div ul{
        width: 90%;
    }
}